.stat-input {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 15%;

    .stat-input-data {
        border: none;
        border-radius: 1rem;
        font-size: 2rem;
        font-weight: bold;
        margin: 0.5rem 0.75rem;
        text-align: center;
        max-width: 100%;
    
        &:focus {
            outline: none;
        }
    }
}