.stat-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    .stat-input-data {
        border: none;
        border-radius: 1rem;
        font-size: 2rem;
        font-weight: bold;
        margin: 0.5rem 0.75rem;
        text-align: center;
    
        &:focus {
            outline: none;
        }
    }
}